.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #2a201c;
  }
  .home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
  }
  
  .home .content .title {
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
  }
  .home .content .title span {
    text-transform: uppercase;
    color: #d3ad7f;
  }
  .home .content .description {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
  }
  .home image {
    flex: 1 1 40rem;
    /* height: 500px; */
  }
  .home image img {
    width: 100%;
  }
  .home .content .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
  }
  .home .content .btn:hover {
    letter-spacing: 0.2rem;
  }